.filter--panel {
  background: @darkbg;
}
#myList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  li {
    padding: 20px 0;
    a {
      font-family: 'LatoRegular';
      font-size: 14px;
      color: @standart;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        color: @orange;
      }
    }
  }
}