body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1600px;
  width: 100%;
  //padding: 0;
  //margin: 0;

}
.main--wrapper {
  overflow: hidden;
  max-width: 100%;
  background: #1c1919;
}
//scropp-up
a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  //background-image: url("../images/btn-top1.png");
  background-size: contain;
  border-radius: 10px;
  //opacity: 0.3;
}
a.back-to-top:hover {
  //background: rgba(0, 0, 0, 0.1);
  //background-image: url("../images/btn-top-hover.png");
  background-size: contain;
  //opacity: 0.3;
}

//**btn up**//
a.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  //display: none;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  position: fixed;
  //z-index: 999;
  text-indent: 0;
  right: 20px;
  bottom: 20px;
  //background-image: url("../images/btn-top1.png");
  background-size: contain;
  border-radius: 30px;
  background: transparent;
  //opacity: 0.3;
  border: 1px solid;
  border-color: #b9a260;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a.back-to-top:hover {
  background: #b9a260;
  //background-image: url("../images/btn-top-hover.png");
  background-size: contain;
  //opacity: 0.3;
  .fa-long-arrow-up {
    color: #fff;
  }
}
.fa-long-arrow-up {
  font-size: 25px;
  color: #b9a260;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  vertical-align: middle;
  display: inline-block;
}
//**end btn up**//

//**стили для хедеp топ**//
.header__top {
  background: @header_topBackground;
  min-height: 150px;
  height: 100%;
}
.container__top {
  //display: flex;
  //flex-direction: row;
  //align-items: center;
  //ustify-content: space-between;
}
.top-line {
  border-bottom: 1px solid #403d3c;
}
.usd-section {
  ul {
    background: #403d3c;
    li a {
      color: @header_fontColor;
      font-family: 'LatoRegular';
      font-size: 14px;
      text-decoration: none;
    }
    li a:hover {
      color: @dropdown_hover;
    }
  }
  a {
    color: @header_fontColor;
    font-family: 'LatoRegular';
    font-size: 14px;
    text-decoration: none;
  }
  a:hover {
    color: @dropdown_hover;
  }
}
.list-navtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-topHeadericon, .rigt-topHeadericon {
  display: flex;
  align-items: center;
}
.rigt-topHeadericon li {
  margin: 0 10px;
}
.lenguages {
  margin-left: 35px;
  font-family: 'LatoRegular';
  font-size: 14px;
  color: #f3f3f3;
  position: relative;
  background-color: transparent;
  padding-left: 10px;
  select {
    background: transparent;
    border: none;
    position: relative;
    option {
      background: #403d3c;
    }
  }
  select:focus {
    outline: none;
  }
  &:after {
    width: 1px;
    height: 100%;
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    background: #403d3c;
    top: 0;
  }
}
.wish-list a {
  color: @header_fontColor;
  font-family: 'LatoRegular';
  font-size: 14px;
  text-decoration: none;
  &:hover {
    color: @dropdown_hover;
  }
}
.my-cart a {
  color: @header_fontColor;
  font-family: 'LatoRegular';
  font-size: 14px;
  text-decoration: none;
  &:hover {
    color: @dropdown_hover;
  }
}
.container__top-bottom {
  padding: 35px 0;
  display: flex;
  justify-content: center;
}
.logo {
  display: flex;
  align-items: center;
  .text-logo {
    color: @header_fontColor;
    font-family: 'pfdintextcondpro-thin';
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: -5px;
  }
  .logo-wrapper {
    margin-right: 15px;
  }
}
.social-header {
  display: flex;
  align-items: center;
  color: @header_fontColor;
  font-family: 'LatoBold';
  font-size: 18px;
  ul {
    display: flex;
    margin-left: 25px;
    li {
      margin: 0 5px;
    }
    li a {
      color: @header_fontColor;
    }
    li a:hover {
      color: #eb5937;
    }
  }
}
.pay__wrapper li  i {
  width: 15px;
}
.pay {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 10px;
  color: @header_fontColor;
  //margin: 0 40px;
  li {
    margin: 15px 0;
    a {
      color: @header_fontColor;
      text-decoration: none;
      font-family: 'LatoRegular';
      font-size: 14px;
    }
    a:hover {
      color: @background_headerbottom;
    }
  }
  li:hover {
    color: @background_headerbottom;
  }
  .pay__wrapper li ul{
      background: #403d3c;
  }
  //&:after {
  //  width: 1px;
  //  height: 100%;
  //  content: '';
  //  display: inline-block;
  //  position: absolute;
  //  left: 0;
  //  background: #403d3c;
  //}
  .dropdown-toggle i {
    width: 15px;
  }
}
//**стили для хедер боттом**//
.header__bottom {
  display: flex;
  flex-wrap: wrap;
  background: @background_headerbottom;
}
.header__bottom-section {
  display: flex;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

  li {
    border-left: 1px solid #77714f;
    display: flex;
    align-items: center;
    a {
      color: @header_fontColor;
      text-decoration: none;
      font-family: 'LatoRegular';
      font-size: 14px;
      text-transform: uppercase;
      padding: 15px 25px;
    }
  }
  li:last-child {
    border-right: 1px solid #77714f;
  }
  li:hover {
    background: @header_navmenu--hover;
    a {
      color: @background_headerbottom;
    }
  }
}
.form-control {
  height: auto!important;
}
.search {
  //margin-left: 10%;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 350px;
  input::-moz-placeholder { color: #f3f3f3; }
  input::-webkit-input-placeholder { color: #f3f3f3; }
  input::-webkit-input-placeholder {font-size: 11px}
  input {
    border-radius: 0;
    background: transparent;
  }
  .form-control:focus {
    border-color: #f3f3f3;
    outline: 0;
    box-shadow: none;
  }
  span {
    border-radius: 0;
    height: 34px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i {
    color: @background_headerbottom;
  }
}
.search:hover {
  background: transparent;
}







